{{ define "content" }}
<div class="hero">
    <div class="hero-body">
        <h1 class="title title-inline">{{.Title}}</h1>

        {{ with .Params.years }}
        <h2 class="subtitle-inline">{{.}}</h2>
        {{ end }}

        {{ partial "tags.html" . }}

        {{ with .Params.link }}
        <p>
            <a href="{{ . }}"
                target="_blank" rel="noreferrer">
                <span class="icon-text">
                    <span class="icon">
                        <i class="inline-icon fas fa-external-link-alt"></i>
                    </span>
                    <span>
                        {{ i18n "view-project-link" }}
                    </span>
                </span>
            </a>
        </p>
        {{ end }}

        {{ with .Params.gh_repo }}
        <p>
            <a href="{{ . }}"
                target="_blank" rel="noreferrer">
                <span class="icon-text">
                    <span class="icon">
                        <i class="inline-icon fab fa-github-alt"></i>
                    </span>
                    <span>
                        {{ i18n "view-on-github" }}
                    </span>
                </span>
            </a>
        </p>
        {{ end }}
    </div>
</div>

<div class="content">
    {{.Content}}
</div>
{{ end }}