@charset "utf-8";


$brand-color: #ec0000;
:root {
    // Oh yeah, big brain time
    // (CSS variable is neeeded for JS animation, 
    //  which can't include SASS variable)
    --brand-color: #{$brand-color};
}

$family-headline: 'Trebuchet MS', 'Open Sans', sans-serif;
$family-text: 'Open Sans', Georgia, Cambria, "Times New Roman", Times, serif;
$family-details: 'Open Sans', 'Trebuchet MS', sans-serif;

@mixin font-headline {
    font-family: $family-headline;
}
@mixin font-text {
    font-family: $family-text;
}
@mixin font-details {
    font-family: $family-details;
}

$body-family: $family-text;
$body-weight: 300;
$body-size: 16px;

$link: $brand-color;

$title-size: 2rem;
$subtitle-size: 1.5rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass"; 
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/form/shared.sass";
@import "../../node_modules/bulma/sass/form/tools.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/level.sass";

@import "base";
@import "utils";
@import "layout/common";
@import "layout/normal";
@import "layout/landing";
@import "modules/header";
@import "modules/footer";
@import "modules/business-card";
@import "modules/card";
@import "modules/blog";
@import "modules/content";
@import "modules/links-block";
@import "modules/tags";
