@charset "utf-8";


$brand-color: #ec0000;

$family-headline: 'Trebuchet MS', 'Open Sans', sans-serif;
$family-text: 'Open Sans', Georgia, Cambria, "Times New Roman", Times, serif;
$family-details: 'Open Sans', 'Trebuchet MS', sans-serif;

@mixin font-headline {
    font-family: $family-headline;
}
@mixin font-text {
    font-family: $family-text;
}
@mixin font-details {
    font-family: $family-details;
}

$body-family: $family-text;
$body-weight: 300;
$body-size: 16px;

$link: $brand-color;

$title-size: 2rem;
$subtitle-size: 1.5rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass"; 
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/form/shared.sass";
@import "../../node_modules/bulma/sass/form/tools.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/level.sass";

@import "tags";

$desktop-real: $desktop - (2 * $gap);

:root {
    // Oh yeah, big brain time
    // (SASS variable stays for backwards compatibility)
    --brand-color: #{$brand-color};
}

a .icon i:before {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    &, .content & {
        @include font-headline;
    }
}

.subtitle {
    color: $brand-color;
}

main .hero .hero-body {
    padding: 1.5rem 0 3rem 0;
}

.hero .hero-body {
    p {
        margin-bottom: .5rem;
    }
}

.title-inline {
    display: inline-block;
}

.subtitle-inline {
    &:before {
        content: '–';
        margin: 0 0.5em;
    }

    &, &:before {
        font-size: $title-size;
        color: rgb(150, 150, 150);
    }

    display: inline-block;
}

.content ul {
    list-style: none;
    margin-left: 0;

    li {
        &:before {
            content: '–';
            margin-right: 0.5em;
        }

        text-indent: 0.5em;
    }
}

strong {
    color: $brand-color;
}

a {
    text-decoration: underline;
    font-weight: 400;
}

footer {
    @include font-details;

    a {
        text-decoration: none;
        color: inherit;
        font-weight: $body-weight;

        .icon-text {
            span {
                border-bottom: 1px solid;
            }
            .icon {
                border: 0 none;
            }
        }
        
        .icon, .icon i, .icon i:before {
            text-decoration: none;
        }
    }

    @media (min-width: $tablet) {
        .column:last-of-type {
            text-align: right;
        }
    }
}

.contacts-list {
    > h2 {
        font-size: 1.25rem;
    }

    > h2, > p {
        margin-bottom: 0.5rem;
    }
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > .main {
        flex: 1 0 auto;
        padding: 0 1.5rem;
    }

    > .footer {
        margin-top: 2rem;
        flex: 0 0 auto;
    }
}

.nav {
    padding: 0 1.5rem;
    nav {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(192, 192, 192);
    
        .homepage & {
            padding-bottom: 0;
            border-bottom: 0 none;
        }
    
        ul.menu {
            list-style-type: none;
            padding: 0;
            
            li {
                display: inline;
                margin-right: 1.5em;
            }
        }
    }    
}

.lang-list {
    @include font-details;
    text-align: right;

    li {
        display: inline;
        text-transform: uppercase;

        &:not(:first-child):before {
            content: " | "
        }
    }
}

.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .name-banner {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;

        .name {
            text-align: center;

            .title {
                font-size: 52px;
            }
    
            .subtitle {
                font-size: 32px;
            }
    
            @media (min-width: $tablet) {
            
                .title {
                    font-size: 11vw;
                    position: relative;
                    color: black;
    
                    &:after {
                        content: ' ';
                        display: block;
                        width: 100%;
                        height: 1.5vw;
                        background-color: $brand-color;

                        position: absolute;
                        bottom: 0.4vw;
                        z-index: -1;
                    }
                }
        
                .subtitle {
                    font-size: 4vw;
                    color: black;
                }
            }
        }

        .name-intro {
            align-self: center;
        }
    }

    .content {
        font-size: 1.125rem;
        padding: 0 1.5rem;
    }
}

a.tag {
    &:link, &:active, &:hover, &:focus, &:visited {
        font-size: 1rem;
        text-decoration: none;
    }
}

.breadcrumb {
    margin-bottom: 3rem;

    li.is-active a {
        text-decoration: none;
    }
}

.list-project-summary {
    .title {
        text-decoration: none;
    }

    h2, .content {
        margin-bottom: 1rem;
    }

    .project-summary-header {
        h2 {
            margin-top: 0;
        }

        display: flex;
        gap: 1em;
    }

    margin-bottom: 3rem;
}

.postscript {
    color: rgb(150, 150, 150);
}