@charset "utf-8";


$brand-color: #ff0000;

$family-sans-serif: 'Bahnschrift SemiCondensed', 'Trebuchet MS', sans-serif;
$body-weight: 300;
$body-size: 18px;

$link: $brand-color;

$title-size: 2rem;
$subtitle-size: 1.5rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/bulma/bulma.sass";


@mixin family-light {
    font-family: $family-sans-serif;
    font-weight: 300;
}

@mixin family-normal {
    font-family: 'Bahnschrift', 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.inline-icon {
    vertical-align: text-bottom;
}

.content {
    h1, h2, h3, h4, h5, h6 {
        @include family-normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include family-normal;
}

.hero {
    .subtitle {
        color: $brand-color;
    }
}

.section > .hero .hero-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}


.content ul {
    list-style: none;
    margin-left: 0;

    li {
        &:before {
            content: '–';
            margin-right: 0.5em;
            @include family-normal;
        }

        text-indent: 0.5em;
    }
}

strong {
    font-weight: 400;
    color: $brand-color;
}

footer {
    a {
        color: inherit;
        .icon-text {
            span {
                border-bottom: 1px solid;
            }
            .icon {
                border: 0 none;
            }
        }
        
        .icon, .icon i, .icon i:before {
            text-decoration: none;
        }
    }

    @media (min-width: 769px) {
        .column:last-of-type {
            text-align: right;
        }
    }
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .main {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}

.lang-list {
    text-align: right;
    margin: 1em;

    li {
        display: inline;
        text-transform: uppercase;

        &:not(:first-child):before {
            content: " | "
        }
    }
}