.breadcrumb {
    margin-bottom: 3rem;

    li.is-active a {
        text-decoration: none;
    }
}

main .hero .hero-body {
    padding: 1.5rem 0 3rem 0;
}

.hero .hero-body {
    p {
        margin-bottom: .5rem;
    }
}

.title-inline {
    display: inline-block;
}

.subtitle-inline {
    &:before {
        content: '–';
        margin: 0 0.5em;
    }

    &, &:before {
        font-size: $title-size;
        color: rgb(150, 150, 150);
    }

    display: inline-block;
}

.projects-list {
    display: grid;
    justify-content: center;
    gap: 3em 2em;

    @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }

    .card {
        max-width: $desktop;
    }
}

a.tag {
    &:link, &:active, &:hover, &:focus, &:visited {
        font-size: 1rem;
        text-decoration: none;
    }
}

.postscript {
    color: rgb(150, 150, 150);
}

.info-block {
    padding: 1em 0;
    background: #fafafa;
}
