.business-card {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;

    .svg-brand-color, .svg-title-color {
        fill-rule: nonzero;
    }
    .svg-title-color {
        fill: #000;
    }
    .svg-brand-color {
        fill: $brand-color;
    }

    .name {
        text-align: center;

        .title {
            font-size: 52px;
        }

        .subtitle {
            font-size: 32px;
            color: $brand-color;
        }

        @media (min-width: $tablet) {
            @include visually-hidden;
        }
    }

    .name-banner {
        display: none;

        @media (min-width: $tablet) {
            display: block;
        }
    }

    .main-points {
        align-self: center;

        .content {
            font-size: 1.125rem;
            padding: 0 1.5rem;
        }
    }
}
