
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid silver;
    padding: 1.5em;

    .card-header, .card-main {
        margin-bottom: 0;
    }

    .card-header {
        margin: -3em -1rem 0 -1rem;
        padding: 0 1rem;
        background: white;
        width: fit-content;

        display: flex;
        gap: 1em;
        
        .title {
            text-decoration: none;
        }
        
        h2 {
            margin: 0;
        }
    }

    .card-main {
        flex: 1;
    }
}
