.content {
    ul {
        list-style: none;
        margin-left: 0;
    
        li {
            &:before {
                content: '–';
                margin-right: 0.5em;
            }
    
            text-indent: 0.5em;
        }
    }

    figure {
        background: #f0f0f0;
        padding: 2em 0;
        margin: 1em 0;
    }

    iframe {
        margin: 2rem 0;
    }
}
