$icon-size: 1em;

.icon-text {
    display: inline-flex;
    align-items: center;
    gap: 0.75ch;
}

.icon {
    display: inline-block;
    height: $icon-size;

    svg {
        height: $icon-size;
        fill: var(--text-color);
    }
}

a .icon svg {
    fill: var(--link-color);
}
