.nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid $subtle-color;
}

.nav-right {
    margin-left: auto;
}

.row-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
        display: inline;
    }
}

.row-list-gapped {
    gap: 0.75em 1.5em;
}

.lang-list {
    li {
        text-transform: uppercase;
        padding: 0 0.75ch;
        border-right: 1px solid $subtle-color;

        &:last-child {
            border: none;
        }
    }
}
