html, body {
    scroll-behavior: smooth;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    &, .content & {
        @include font-headline;
    }
}

strong {
    color: $brand-color;
}

a {
    text-decoration: underline;
    font-weight: 400;
}
