<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta-description.html" . }}

    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
    
    {{ partial "style-headers.html" . }}

</head>

<body>
    <div class="page">
        {{ block "main" . }}
        <div>
            <div class="container">
                {{ partial "navigation.html" . }}
            </div>
        </div>
        
        <main class="main">
            <div class="container">
                {{ partial "breadcrumbs.html" . }}

                {{ block "content" . }}
                {{ end }}
            </div>
        </main>
        {{ end }}
        
        <footer class="footer">
            {{ partialCached "footer.html" . }}
        </footer>
    </div>
</body>

</html>