<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta-description.html" . }}

    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>

    {{ partial "lang-redirect.html" . }}
    {{ partial "style-headers.html" . }}
    {{ partial "big-brother.html" . }}
</head>

<body>
    <div class="content-centered">
        {{ partial "navigation.html" . }}

        {{ block "main" . }}
        <main>
            {{ partial "breadcrumbs.html" . }}

            {{ block "content" . }}
            {{ end }}
        </main>
        {{ end }}
        
        {{ partialCached "footer.html" . }}
    </div>
</body>

</html>
