{{ define "content" }}
<div class="hero">
    <div class="hero-body">
        <h1 class="title">{{.Title}}</h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
    </div>
</div>

{{ range .Pages }}
<div class="list-project-summary">
    <div class="content">
        <h2><a href="{{ .Permalink }}" class="title is-4">{{ .Title }}</a></h2>

        {{ .Summary }}
    </div>
    
    {{ partial "tags.html" . }}

    <p><a href="{{ .Permalink }}" class="see-more-link">{{ i18n "see-more" . }} →</a></p>
</div>
{{ end }}
{{ end }}