{{ define "content" }}

<div class="container viewport-padding">
    {{ partial "hero.html" . }}
</div>

{{ if or .Params.link .Params.gh_repo }}
<div class="content links-block">
    <div class="container viewport-padding">
        {{ with .Params.link }}
        <p>
            {{ partial "icon-text-link.html" (dict
                "text" (i18n "view-project-link")
                "link" .
                "class" "fas fa-external-link-alt"
            ) }}
        </p>
        {{ end }}

        {{ with .Params.gh_repo }}
        <p>
            {{ partial "icon-text-link.html" (dict
                "text" (i18n "view-on-github")
                "link" .
                "class" "fab fa-github-alt"
            ) }}
        </p>
        {{ end }}
    </div>
</div>
{{ end }}

<div class="content content-centered">
    {{.Content}}
</div>
    
<div class="container viewport-padding">
    <div class="content postscript">
        {{ i18n "lastmod" }}: 
        {{ .Lastmod.Year }}.{{ printf "%0.2d" .Lastmod.Month }}.{{ .Lastmod.Day }}
    </div>
</div>
{{ end }}