<footer class="footer">
    <p>
        {{ partial "icon-text-link.html" (dict
            "text" (i18n "this-site-on-github")
            "link" .Site.Params.githubLink
            "icon" "git"
            "reverse" true
        ) }}
    </p>

    <p>
        <a href="https://creativecommons.org/licenses/by/4.0/" 
        target="_blank" rel="noreferrer"
        title="Creative Commons Attribution 4.0 International">
            {{- partial "icon.html" (dict
                "icon" "creative-commons"
            ) -}}
            {{- partial "icon.html" (dict
                "icon" "creative-commons-by"
            ) -}}
        </a>
    </p>
</footer>
