<nav class="level is-mobile nav" 
    role="navigation" aria-label="main navigation">

    <div class="level-left">
        <ul class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li>
                    {{ $is_active := not ($currentPage.IsMenuCurrent "main" .) }}
                    {{- if $is_active -}}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{- else -}}
                        {{- .Name -}}
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
    </div>

    <div class="level-right">
        {{ partial "i18n.html" . }}
    </div>
</nav>