{{ $hidden := slice "posts" "works" }}
<nav class="nav" role="navigation" aria-label="main navigation">
    <ul class="row-list row-list-gapped">
        {{ $currentPage := . }}

        {{ range .Site.Menus.main }}
            {{ if not (in $hidden .Identifier) }}
            {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            <li>
                {{ if $active }}
                    {{ .Name }}
                {{ else }}
                    <a href="{{ .URL }}">
                        {{- .Name -}}
                    </a>
                {{ end }}
            </li>
            {{ end }}
        {{ end }}
    </ul>

    <div class="nav-right">
        {{ partial "i18n.html" . }}
    </div>
</nav>
