<nav class="level is-mobile" 
    role="navigation" aria-label="main navigation">

    <div class="level-left">
        <ul class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li>
                    {{ partial "nav-item" (dict "navPage" . "currentPage" $currentPage) }}
                </li>
            {{ end }}
            <li>
                <a href="#contacts">
                    {{ i18n "contacts" }}
                </a>
            </li>
        </ul>
    </div>

    <div class="level-right">
        {{ partial "i18n.html" . }}
    </div>
</nav>

{{ define "partials/nav-item" }}
    {{ $is_active := not (.currentPage.IsMenuCurrent "main" .navPage) }}
    {{- if $is_active -}}
        <a href="{{ .navPage.URL }}">{{ .navPage.Name }}</a>
    {{- else -}}
        {{- .navPage.Name -}}
    {{- end -}}
{{ end }}
