{{ define "main" }}
<main class="homepage">
    <div class="nav viewport-padding">
        {{ partial "navigation.html" . }}
    </div>
    
    <div class="name-banner">
        <div class="name">
            <h1 class="title">{{.Title}}</h1>
    
            {{ with .Params.subtitle }}
            <h2 class="subtitle">{{.}}</h2>
            {{ end }}
        </div>

        <div class="name-intro">
            <div class="content">
                {{.Content}}
            </div>
        </div>
    </div>
</main>
{{ end }}