{{ define "main" }}
<main>
    <article class="business-card">
        <div class="name">
            <h1 class="title">{{.Title}}</h1>
    
            {{ with .Params.subtitle }}
            <h2 class="subtitle">{{.}}</h2>
            {{ end }}
        </div>

        <div class="content">
            {{.Content}}
        </div>
    </article>

    <section class="feed" aria-label="{{ i18n "feed" }}">
        {{ $pages := slice }}
        {{ range where site.RegularPages "Section" "posts" }}
            {{ $pages = $pages | append . }}
        {{ end }}
        {{ with site.GetPage "/works" }}
            {{ range .Pages }}
                {{ $pages = $pages | append . }}
            {{ end }}
        {{ end }}
        {{ partial "feed.html" $pages }}
    </section>
</main>
{{ end }}
